:root {
    font-family: Arial, Helvetica, sans-serif;
    --shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    --bg: #e2e8f0;
    --bg-square: #f1f5f9;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 900;
    box-shadow: var(--shadow);
    background-color: var(--bg);
}

.logo {
    display: flex;
    gap: 2px;
}

.header button{
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    border: none;
    border-radius: 10px;
    width: 100px;
    cursor: pointer;
    border: 2px solid black;
    background: none;
}

.header button:hover{
    letter-spacing: 0.5px;
}

.container {
    display: flex;
    flex-direction: column;
}

.display {
    margin-top: 30px;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.square {
    display: flex;
    height: 150px;
    width: 150px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 140px;
    border: 1px solid black;
}

.square:hover {
    background-color: var(--bg-square);
}

